* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: rgba(88, 104, 117, 0.1);
}

nav {
    background-color: rgba(88, 104, 117, 0.8);
    color: #FFFFFF;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 8px rgb(88, 104, 117);
    margin-bottom: 30px;
}

nav > h3 {
    margin-right: auto;
    font-size: 16px;
    font-weight: normal;
    line-height: 70px;
    text-align: center;
}

nav > i {
    margin-left: auto;
    margin-right: 10px;
}

.card {
    background-color: #ffffff;
    height: 250px;
    border-radius: 10px;
    padding-right: 20px;
    margin: 50px 30px;
    overflow: hidden;
}

.card--image {
    width: 400px;
    height: 250px;
    float: left;
    margin-right: 20px;
}

.card--title {
    font-family: 'Bebas Neue', cursive;
    line-height: 30px;
	font-size: 30px;
	color: #344055;
    margin: 20px;
    margin-left: 0px;
    margin-bottom: 15px;
    display: inline-flex;
}

.card--maps {
    font-size: 13px;
    color: #918E9B;
    display: inline;
}

.card--stats {
    font-family: 'Bebas Neue', serif;
    color: #48555f;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.card--description {
    font-family: 'EB Garamond', serif;
	text-align: left;
	font-size: 17px;
	color: #5e5e5e;
    margin-top: 15px;
}



@media only screen and (max-width: 675px) and (min-width: 200px) {
    .card {
        height: auto;
        padding: 0px;
    }

    .card--image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .card--content {
        height: 0px;
        opacity: 0;
        transition: height 2s, opacity 2s linear;
    }

    .card--title {
        display: block;
        text-align: center;
        margin: 0px;
    }

    .card--maps {
        display: block;
        text-align: center;
        margin: 10px 0px;
    }

    .card--description {
        margin-bottom: 0;
    }

    .card:hover .card--content, .card:active .card--content {
        padding: 20px;
        padding-top: 0px;
        height: 250px;
        opacity: 1;
        overflow: scroll;
    }
}

@media only screen and (max-width: 990px) and (min-width: 676px) {
    .card {
        height: auto;
        padding: 0px;
    }

    .card--title {
        display: block;
        margin: 50px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .card--maps {
        display: block;
        margin: 10px 0px;
    }

    .card--description {
        height: 0px;
        opacity: 0;
        margin: 0px;
        clear: both;
        transition: height 2s, opacity 2s linear;
    }

    .card:hover .card--description, .card:active .card--description {
        height: 140px;
        opacity: 1;
        padding: 20px;
        overflow: scroll;
    }

    .card:hover .card--image, .card:active .card--image {
        border-radius: 10px;
    }
}
